body {
    margin: 0px;
    background-color: #FDE9E9;
    background-image: url("images/love_bg.jpg");
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000;
}

a:link { color:#000 }
a:visited { color:#000 }
a:hover  { color:#000 }
a:active { color: #000; }

#footer { text-align:center; padding-top:30px; font-style: italic; }


div.box {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.sale-tate {
  float: left;
  width: 47%;
  margin: 0%;
  border: 0%;
}

div.dummy-box{ clear: left; }
span.none{ display: none; }

#app-list {
  margin-top: 5px;
}
a.app-box {
  background-color: #fff;
  display: block;
  width: 310px;
  height: 57px;
  margin: 0%;
  padding: 5px;
  border-bottom: 2px solid #555;
  text-decoration: none;
}
div.app-left-box{
  float: left;
  width: 57px;
  height: 57px;
  border: 0%;
}
img.app-icon{
  width: 57px;
  height: 57px;
}

div.app-right-box {
  float: left;
  width: 243px;
  margin: 0px 5px;
  border: 0%;
}
div.app-title {
  font-size: 14px;
  font-weight: bold;
}
div.app-detail {
  font-size: 10px;
}
div.app-link {
  font-size: 10px;
}
