body {
    margin: 0px;
    background-color: #FDE9E9;
    background-image: url("images/love_bg.jpg");
    color: #FF203E;
}

a:link { color:#FF203E; }
a:visited { color:#FF203E; }
a:hover  { color:#FF203E; }
a:active { color: #FF203E; }

#social { padding-top: 10px }
#footer { text-align:center; padding-top:20px; font-style: italic; }

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}
h3 {
  font-size: 16px;
  text-align: center;
  display: block;
  background-color: #FC8580;
  color: #FBF5EB;
  padding: 10px 0px;
  margin: 0px 0px;
}
h5 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 5px;
  margin: 0px;
}

div.box {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.sale-tate {
  float: left;
  width: 47%;
  margin: 0%;
  border: 0%;
}

div.dummy-box{ clear: left; }
span.none{ display: none; }

#app-list {}
a.app-box {
  background-color: #fff;
  display: block;
  width: 310px;
  height: 72px;
  margin: 0%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
div.app-left-box{
  float: left;
  width: auto;
  height: auto;
  border: 0%;
}
img.app-icon{
  width: 72px;
  height: 72px;
}

div.app-right-box {
  float: left;
  width: 215px;
  margin: 0px 5px;
  border: 0%;
}
div.app-title {
  font-size: 16px;
  font-weight: bold;
}
div.app-detail {
  font-size: 12px;
  color: #330000;
}
div.app-link {
  float: left;
  border: 0%;
  width: 10px;
  height: auto;
}
img.arrow {
  display: block;
  width: 10px;
  height: 15px;
  margin-top: 28px;
  text-align: center;
}
#comic {
  margin-top: 30px;
}
